@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<link rel="stylesheet" href="~/css/styles.css">

<body class="bodyError">
    <section class="Error">
    <div>
        <i class="fa fa-exclamation-triangle" style="font-size:68px;color: white"></i>
        <p>مشکل در دریافت اطلاعات از سرور</p>
        <p>در صورت تداوم مشکل با طراح سایت تماس حاصل نمایید</p>
    </div>
</section>
</body>



