@model Data.TMU.Model.ChangePasswordViewModel

@{
    ViewData["Title"] = "میزکار-ویرایش پسورد";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}



<main role="main" class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8">
                <div class="my-4">
                    <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                        @* <li class="nav-item">
                            <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">پروفایل</a>
                            </li>*@
                        <li class="nav-item">
                            <a class="nav-link" active id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">ویرایش پسورد</a>
                        </li>
                        @* <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Notifications</a>
                            </li>*@
                    </ul>

                </div>
                @*<hr class="my-4">*@
                <form asp-action="ResetPassword" method="post">
                    <div class="row mb-4 ">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputPassword4">پسورد قدیمی</label>
                                <input asp-for="OldPassword" type="password" class="form-control" id="inputPassword5">
                                @Html.ValidationMessageFor(tuple => tuple.OldPassword)
                            </div>
                            <div class="form-group">
                                <label for="inputPassword5">پسورد جدید</label>
                                <input asp-for="NewPassword" type="password" class="form-control" id="inputPassword5">
                                @Html.ValidationMessageFor(tuple => tuple.NewPassword)
                            </div>
                            <div class="form-group">
                                <label for="inputPassword6">تکرار پسورد جدید</label>
                                <input asp-for="ConfarinPassword" type="password" class="form-control" id="inputPassword6">
                                @Html.ValidationMessageFor(tuple => tuple.ConfarinPassword)
                            </div>

                        </div>
                        <div class="col-md-6 alert2">
                            <p class="mb-2">امنیت پسورد</p>
                            <p class="small text-muted mb-2">به نکات زیر توجه کنید: </p>
                            <ul class="small text-muted pl-4 mb-0">
                                <li>حداکثر از 8 کاراکتر </li>
                                <li>استفاده از کاراکتر خاص</li>
                                <li>استفاده از عدد</li>
                                <li>استفاده نکردن از پسورد های تکرای </li>
                            </ul>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-outline-primary">تغیرات پسورد</button>
                </form>
            </div> <!-- /.card-body -->
        </div> <!-- /.col-12 -->
    </div> <!-- .row -->
</main>




