@model Data.TMU.Model.Nav.Navbar

@{
    ViewData["Title"] = "-ویرایش" + @Model.TitelNav;
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}


<main role="main" class="main-content">
    <div class="container-fluid">
        <div class="justify-content-center">
            <form asp-action="UpdateNavbar" method="post">
                <input type="hidden" asp-for="selectnavbar" value="خبری">
                <div class="card shadow col-12 col-xl-10">
                    <div class="card-header">
                        <strong class="card-title">ویرایش نوبار @Model.TitelNav</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label for="simpleinput">عنوان</label>
                                    <input type="text" asp-for="TitelNav" id="simpleinput" class="form-control">
                                    <span asp-validation-for="TitelNav"></span>

                                </div>

                                <div class="form-group mb-3">
                                    <div class="form-check">
                                        @{
                                            if (@Model.ParentId != 0)
                                            {
                                                <input class="form-check-input" type="checkbox" name="chk1" value="true" id="gridCheck1" checked>

                                            }
                                            else
                                            {
                                                <input class="form-check-input" type="checkbox" name="chk1" value="true" id="gridCheck1">

                                            }
                                        }
                                        <label class="form-check-label" for="gridCheck1"> آیا می خواهید زیر مجموعه باشد؟ </label>
                                    </div>
                                </div>

                                <div class="form-group mb-3" id="div" style="display: none">
                                    <label for="inputState">انتخاب زیر مجموعه</label>
                                    <select id="inputState" asp-for="ParentId" asp-items="@(ViewBag.select1Navbar as SelectList)" class="form-control">
                                        <option value="0">هیچکدام</option>
                                    </select>
                                </div>

                                <div class="form-group mb-3">
                                    <label for="simpleinput1">لینک صفحه</label>
                                    <input type="text" asp-for="linkAdres" class="form-control">
                                    <span asp-validation-for="linkAdres"></span>

                                </div>
                                <div class="form-group mb-3">
                                    <label for="simpleinput1">جایگاه</label>
                                    <input type="text" asp-for="Rank" placeholder="عدد" class="form-control">
                                    <span asp-validation-for="Rank"></span>

                                </div>
                                <hr class="my-4">
                                <div class="form-row">
                                    <div class="col-md-6">
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <button type="submit" class="btn btn-primary">ثبت</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div> <!-- .row -->
    </div> <!-- .container-fluid -->
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script>
    $(function () {
        $("#gridCheck1").click(function () {
            if ($(this).is(":checked")) {
                $("#div").show();
            } else {
                $("#div").hide();
            }
        });
    });

     $("#inputState").change(function () {
    $("#inputState2").empty();
    $.getJSON("/Home/GetSelect2/" + $("#inputState :selected").val(),
    function (data) {

    $.each(data,
    function () {
    $("#inputState2").append('<option value=' + this.value + '>' + this.text + '</option>');

    });

    });
    });

</script>

